gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
WifiVisionCore/Library/
WifiVisionCore/Temp/
WifiVisionCore/Obj/
WifiVisionCore/Build/
WifiVisionCore/Builds/
WifiVisionCore/Logs/
WifiVisionCore/UserSettings/
